:root {
	--primary-clr: #f8fafc;
	--secondary-clr: #bcccdc;
	--card-clr: #d9eafd;
	--border-clr: #9aa6b2;
	--footer-clr: #677a91;
	--main-font: "Lexend", sans-serif;
	--main-font-size: 16px;
	--font-clr: #2a4759;
}

body {
	background-color: var(--primary-clr);
	font-family: var(--main-font);
	font-size: var(--main-font-size);
}

.wrapper {
	height: 100vh;

	display: grid;
	grid-template-rows: 1.3fr 9fr 1fr;
}

.container {
	margin: 0 50px;
}

.navbar {
	/* Style for navigation bar */
	background-color: var(--secondary-clr);

	.container {
		height: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	img {
		min-width: 90px;
	}

	h1 {
		color: var(--font-clr);
		font-size: 2.5rem;
	}

	.button-container {
		.add-btn {
			background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
			background-color: #2e466e;

			border-radius: 34px;
			border: 4px solid #1f2f47;

			display: inline-block;
			cursor: pointer;
			color: #ffffff;

			font-size: 20px;
			font-weight: bold;
			padding: 1rem 2rem;
			text-decoration: none;
		}
		.add-btn:hover {
			background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
			background-color: #415989;
		}
		.add-btn:active {
			position: relative;
			top: 1px;
		}
	}
}

.library {
	width: 90%;
	background-color: var(--primary-clr);
	margin-top: 3rem;
	justify-self: center;
	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
	justify-content: center;
	grid-auto-rows: 200px;
	gap: 3rem;

	.book-form {
		/* Style for pop-up form */
		width: 400px;
		height: 450px;
		color: var(--font-clr);
		background-color: var(--secondary-clr);
		border: 6px solid #1f2f47;
		border-radius: 18px;

		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		visibility: hidden;

		display: flex;
		flex-direction: column;

		h2 {
			text-align: center;
			margin-top: 8px;
		}

		span {
			display: block;
			
			margin-top: 1rem;
			margin-bottom: 8px;
			margin-left: 1rem;

			font-size: 1.5rem;
		}

		input {
			margin-left: 1.1rem;
		}

		input[type="text"],
		input[type="number"] {
			width: 90%;
			border: 3px solid var(--font-clr);
			border-radius: 8px;
		}

		input[type="number"] {
			width: 20%;
		}

		input[type="checkbox"] {
			margin-left: 0rem;
			width: 1.2rem;
			height: 1.1rem;
		}

		button {
			background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
			background-color: #2e466e;
			border-radius: 18px;
			border: 4px solid #1f2f47;
			cursor: pointer;
			color: #ffffff;
			font-size: 16px;
			font-weight: bold;
			padding: 8px 16px;
			text-decoration: none;

			align-self: center;
		}

		button:hover {
			background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
			background-color: #415989;
		}
		button:active {
			position: relative;
			top: 1px;
		}
	}

	/* Style for book cards */
	.book-card {
		width: 300px;
		height: 200px;
		background-color: var(--card-clr);
		border: 6px solid var(--border-clr);
		border-radius: 16px;

		display: grid;
		grid-template-rows: 3fr 1fr 1fr 1fr;

		.book-title {
			font-size: 1.8rem;
			font-weight: 600;
			align-content: center;
			justify-self: center;
			color: var(--font-clr);
		}

		p:not(.book-title) {
			margin-left: 25px;
		}

		span {
			color: var(--font-clr);
		}

		input[type="checkbox"] {
			height: 14px;
			width: 14px;
		}
	}
}

footer {
	background-color: var(--footer-clr);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	p {
		font-size: 1.3rem;
	}
}
